html {
	-webkit-perspective: 1500px;
	-webkit-perspective-origin-x: 50%;
	-webkit-perspective-origin-y: 0%;
	
}
.game {
	z-index:1 !important;
	-webkit-transform:rotateX(45deg);
}

.hud {
	z-index: 2 !important;	
	-webkit-transform:rotateX(45deg);
}